1) initialize global variables
2) create a $(document).ready() function to load after the page is rendered
	variables for dom objects are created here

	-load the game
	-create event handlers
3) list the functions
	newGame()
	getUserGuess()
	checkGuess()
	generateFeedback()
	trackGuess()
	guessCount()
	render()
	winner()
	generateNumber()
	resetVariables()

